@import "circle.css";
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Lato', serif;
	background-color: #0d1523;
}
.content {
	font-size: 30px;
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
}

.item1 { grid-area: cc-meter; }
.item2 { grid-area: dev-status; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: meter2; }
.item7 { grid-area: status2; }
.item8 { grid-area: main2; }
.item9 { grid-area: right2; }
.item10 { grid-area: footer2; }

.grid-container {
  display: grid;
  grid-template-areas:
	'cc-meter dev-status dev-status meter2 status2 status2 '
	'cc-meter right right meter2 right2 right2'
    'main right right  main2 right2 right2';
  grid-gap: 8px;
  padding: 10px;
}
.grid-container > div {
	color: gray;
	background-color: #202a34;
	text-align: left;
	padding: 10px 10px;
	font-size: 20px;
}
.meter-display {
	width: 240px;
	height: 240px;
	position: relative;
	top: calc((100% + 28.8px - 300px)/2);
	left: calc((100% - 240px)/2);
}
.display-header {	
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28.8px;
	color: white;
	text-align: justify;
	text-transform: uppercase;
}
.display-text {
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 19px;
	text-align: center;
}

#devstat{
	font-size: 25px;
	color: #55d400;
	margin: 10px 0 10px 0;
}
#est-cost {
	font-size: 40px;
	color: #FFAD2F;
	margin: 30px 0 10px 0;
	transition: 0.4s;
}
.device-selector {
	background-color: lightgray;
	margin: 0px 10px 5px 10px;
	width: 100px;
	height: 50px;
	font-family: inherit;
	border-radius: 5px;
	border: none;
	padding: 0px;
	cursor: pointer;
}
table {
	margin: 10px 0 10px 0;
	border-collapse: collapse;
	width: 100%;
}
td, th {
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding: 7px;
	text-align: center;
}
.activities-display {
	margin: 0 auto;
	width: 100%;
	height: calc(100% - 57.6px);
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
h6 {
	margin: 0 auto;
	line-height: 450px;
	font-family: Lato;
	font-style: italic;
	font-weight: 400; 
	color: gray;
}
.sub-display {
	font-family: Open Sans;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 14px;
	text-align: center;
}
span {
	float: right;
}
#links {
	float: right;
	font-family: Open Sans;
	font-size: 12px;
	
}
#links:hover {
	text-decoration: underline;
}